<!doctype html>
<html ng-app="potato">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flickr Public Feed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/styles.min.v1.css">
        
    </head>
    <body>

        <main class="wrapper ng-cloak" ng-controller="MainCtrl as main">

            <header class="header">
                <h1 class="title">Flickr Public Feed {{main.tag === 'potato' ? '' : '(' + main.tag + ')'}}</h1>
                <input class="filter-input" ng-model="main.tagFilter" placeholder="Filter results...">
            </header>

            <div class="loading-anim" ng-hide="main.results"></div>

            <ul class="results" ng-hide="main.selected || !main.results.length">

                <li class="results-item" ng-repeat="result in main.results | filter:{ tags:main.tagFilter }">
                    <a ng-click="main.selected = result"><img ng-src="{{result.media.m | changeImgFormat}}"></a>
                    <a ng-click="main.selected = result"><h2 class="results-title link">{{result.title}}</h2></a>
                    <p class="results-info">
                        <span class="results-date">Published: {{result.published | ordinalDate}}</span>
                        <a class="link results-author" ng-href="https://www.flickr.com/people/{{result.author_id}}/">{{result.author | getAuthor}}</a>
                        <a class="link" ng-href="{{result.link}}">View on Flicker</a>
                    </p>
                </li>

                <li class="results-message" ng-hide="(main.results | filter:{ tags:main.tagFilter }).length">
                    There are no photos matching tag '{{main.tag}}' and 
                    filter '{{main.tagFilter.length < 20 ? main.tagFilter : main.tagFilter.substring(0,20) + '...'}}'.
                </li>

            </ul>

            <section class="details" ng-show="main.selected">
                
                <div class="details-header">
                    <a class="link" ng-href="{{main.selected.link}}"><h2 class="details-title">{{main.selected.title}}</h2></a>
                    <a class="link details-author" ng-href="https://www.flickr.com/people/{{main.selected.author_id}}/">{{main.selected.author | getAuthor}}</a>
                    <span class="details-date">Published: {{main.selected.published | ordinalDate}}</span>
                    <button class="details-btn" ng-click="main.selected = null">Back</button>
                </div>
                
                <div class="details-img">
                    <img ng-src="{{main.selected.media.m}}">
                </div>

                <div class="details-description">
                    <p>
                        Lorem ipsum dolor sit amet, facer quaestio adversarium eu ius, doming delicata pri ut. Sed aperiam necessitatibus ut, eam tale nostrum perpetua an. Aperiri discere pertinax vim ad, utinam cetero an vix, sale aeque persecuti vel te. Labitur detracto ad eam.
                    </p>
                    <p>
                        Est iusto affert ponderum cu. Eu mei interesset deterruisset. Ornatus probatus pertinacia ea cum, eleifend vituperatoribus in pro. Vis ne volumus pertinax. Volutpat efficiantur vix te, ei quas voluptatum interesset has, idque alterum conceptam nam ei. Causae democritum ea cum.
                    </p>
                    <p>Tags: <span ng-repeat="tag in main.selected.tags.split(' ')" class="details-tag" ng-click="main.setTag(tag)"> {{tag}} </span></p>
                </div>

            </section>

        </main>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>

        <script src="js/scripts.min.v1.js"></script>

    </body>
</html>
