.loading-anim {
    position: relative;
    margin: 20% auto;
    height: 25px;
    width: 50px;
}

.loading-anim:before, .loading-anim:after {
    content: '';
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    left: 0;

    background: white;
    border-radius: 23px;
    border: 1px solid rgb(31, 31, 31);
}

.loading-anim:before {
    @include animation(ltr 2s infinite);
    z-index: 2
}

.loading-anim:after {
    left: auto;
    right: 0;
    z-index: -1;
    @include animation(rtl 2s infinite);
}

@include keyframes(ltr) {
    from {
        left: 0;
    }
    50% {
         left: 25px;       
    }
    to {
        left: 0px;
    }
}

@include keyframes(rtl) {
    from {
        right: 0;
        z-index: 1;
    }
    50% {
        right: 25px;
        z-index: 1;
    }
    50.1% {
        z-index: 3;
    }
    to {
        right: 0px;
        z-index: 3;
    }
}