.ng-cloak {
    display: none;
}

body {
    font-family: $font-stack;
    color: $font-color-dark;
}

.header {
    position: relative;
}

.wrapper {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;

}