.link {
    color: $font-color-link;
    text-decoration: underline;
    white-space: nowrap;
}

.title {
    margin-bottom: 8px;
}

.filter-input {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 18px;

    color: inherit;
    border-radius: $border-radius;
    border: 1px solid $color-grey;
    padding: 5px 7px;
}

.results {

    padding: 0;
    margin-top: 16px;

    list-style: none;
    border: 1px solid $font-color-dark;
    border-radius: $border-radius;
    overflow: hidden;

    .results-message {
        font-size: 2em;
        margin: 2em;
        text-align: center;
    }

}

.results-item {

    position: relative;
    padding: 10px 40px 10px 190px;
    height: 130px;
    border-top: 1px solid $color-grey;

    &:first-child {
        border-top: 0;
    }

    img {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        cursor: pointer;
    }

    .results-title {
        font-size: 1.8em;
        margin: 0.7em 0;

        @include text_ellipsis;
        cursor: pointer;
        text-decoration: none;
    }

    .results-info {
        font-size: 0.9em;
        margin: 1.9em 0;
    }

    .results-date {
        display: inline-block;
        margin: 0 1.2em;
    }

    .results-author {
        margin-right: 1.2em;
        display: inline-block;
        max-width: 125px;
        @include text_ellipsis;
        vertical-align: bottom;
        float: left;
    }

}

.details {

    padding: 20px;
    margin-top: 16px;

    border: 1px solid $font-color-dark;
    @include clearfix;
    border-radius: $border-radius;
    overflow: hidden;

    .details-header {
        position: relative;
    }

    .details-title {
        margin: 0;
    }

    .details-author {
        margin: 20px 20px 20px 0;
        display: inline-block;
    }

    .details-date {
        margin: 20px 0;
        display: inline-block;
        border-left: 1px solid $color-grey;
        padding-left: 25px;
    }

    .details-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        margin: 3px;
        padding: 4px 8px 4px;
        font-size: 1.2em;

        border: 1px solid $color-grey;
        border-radius: $border-radius;
        cursor: pointer;
        background: transparent;
        color: inherit;
        outline: 0;

        &:hover {
            background: $color-grey;
            color: white;
        }

    }

    .details-img {
        float: left;
        width: 240px;
    }

    .details-description {
        margin-left: 260px;

        & p:first-child {
            margin-top: 0;
        }
    }

    .details-tag {
        display: inline-block;
        margin: 3px;
        padding: 2px 5px 3px;

        border: 1px solid $color-grey;
        border-radius: $border-radius;
        cursor: pointer;

        &:hover {
            background: $color-grey;
            color: white;
        }

    }

}

@media (max-width: 800px) {

    .filter-input {
        position: static;
    }

    .results-item {

        .results-info {
            margin: 1.4em 0;
        }

        .results-date {
            margin: 0;
            display: block;
        }

        .results-author {
            float: none;
        }

    }
    
}